.productmenu-container{
    background-color: var(--1st-color);
}
.productmenu-container h1{
    background: url('https://previews.123rf.com/images/torsakarin/torsakarin1808/torsakarin180800224/108194646-white-natural-wood-wall-texture-and-background-seamless.jpg');
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    opacity: 1;
    height: 100px;
    color: var(--2nd-color);
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    padding: 25px;
    width: 100%;
}
.productmenu-category{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 0 2rem;
}
/* Button */
.productmenu-container .productmenu-category button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--2nd-color);
    border-radius: 18px;
    margin: 2rem 2rem 0 2rem;
    text-align: center;
    width: 100%;
    background-color: var(--1st-color);
    color: var(--whitefont-color);
    opacity: 1;
    box-shadow: rgba(196, 196, 207, 0.25) 0px 50px 100px -20px, rgba(214, 207, 207, 0.3) 0px 30px 60px -30px;
}
.productmenu-container .productmenu-category img{
    max-width: 80px;
    max-height: 80px;
    padding: 5px 5px;
    margin: 10px;
}
.productmenu-container .productmenu-category button:hover{
    background-color: var(--whitefont-color);
    color: var(--1st-color);
    opacity: 0.8;
    transition: 0.6s;
    transform: scale(0.8);
}

.productmenu-container .productmenu-category button p{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
.not-found {
    font-size: 40px;
    text-align: center;
    color: var(--whitefont-color);
    font-weight: bold;
}
.productmenu-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* Pagination */
.productmenu-pagination{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    padding: 3rem;
}
.product-pagination-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 3rem;
    color: var(--whitefont-color);
}
.productmenu-pagination-item{
    border: none;
    border-radius: 10px;
    cursor: pointer; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: transparent;
}
.productmenu-page-button {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bolder;
    border: 1px solid var(--whitefont-color);
    background-color: var(--whitefont-color);
    color: var(--1st-color);
}
.productmenu-page-button:disabled{
    background-color: rgb(209, 199, 199);
    color: var(--1st-color);  
}

.productmenu-items{
    margin: 0 1rem;
    padding: 0 1rem;
}
@media (max-width: 768px) {
    .productmenu-container .productmenu-category button{
        margin: 1rem;
        padding: 2px 10px;
    }
    .productmenu-page-button{
        font-size: 18px;
    }
}