.item-list{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.itemcard{
    cursor: pointer;
    margin: 2rem;
    overflow: hidden;
    padding: 3rem 2rem;
    transition: all 0.3s ease;
    background-color: var(--1st-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.item-text{
    margin: 10px;
    padding: 2rem;
}
.itemcard img{
    max-width: 100%;
    max-height: 400px;
    object-fit: cover;
}
.item-title{
    font-size: 26px;
    font-weight: bold;
    color: var(--whitefont-color);
    text-align: center;
}
.item-intro{
    font-size: 18px;
    color: var(--whitefont-color);
    text-align: justify;
}
@media (max-width: 768px){
    .itemcard{
        margin: 1rem;
    }
    .item-text{
        padding: 1rem;
    }
    .item-title{
        font-size: 20px;
    }
    .item-intro{
        font-size: 16px;
    }
}