/* SLIDER CARD */
/* Menu */
.menu-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: var(--whitefont-color);
    animation-duration: 0.5s;
    animation-delay: 0.1s;
    animation-iteration-count: infinite;
}

.menu-box h1 {
    font-size: 40px;
    line-height: 55px;
    margin: 50px 0 20px 0;
    color: var(--1st-color);
    text-transform: uppercase;
    font-weight: bolder;
    text-align: start;
    padding: 2px;
}

.menu-box p {
    margin: 20px 0;
    color: var(--1st-color);
    font-weight: 400;
    font-size: 25px;
    text-align: justify;
    margin-right: 3rem;
}

.menu-box img {
    max-width: 500px;
    max-height: 500px;
    object-fit: cover;
    border: none;
    border-radius: 10px;
    padding-top: 1rem;
    box-shadow: white 0px 10px 15px -3px, white 0px 4px 6px -2px;
}
.btn-primary{
    padding: 0.5rem;
    border-radius: 5px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--2nd-color);
    background-color: #ffcd4e;
}

.btn-primary:hover{
    background-color: var(--2nd-color);
    color: var(--whitefont-color);
    border: none;
    cursor: pointer;
}

/* Submenu */
.subm-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    animation-duration: 0.5s;
    animation-delay: 0.1s;
    animation-iteration-count: infinite; 
}
.subm-box img{
    width: 100%;
    max-height: 500px;
    border: none;
    border-radius: 10px;
}
.subm-box h1{
    font-size: 40px;
    text-align: center;
    height: 100%;
    color: var(--4th-color);
    text-transform: uppercase;
    font-weight: bolder;    
    width: 100%;
    padding-top: 5rem;
}
/* New Products */
.slidernewproducts-cards{
    width: 100%;
}
.slidernewproducts-components{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.slidernewproducts-components img{
    max-width: 700px;
    max-height: 600px;
    margin: 1rem 3rem;
    border-radius: 10px;
    box-shadow: rgb(86, 138, 194) 0px 5px 20px 0px;
}
.slidernewproducts-contents{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.slidernewproducts-contents p {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--2nd-color);
}
.slidernewproducts-categories{
    display: flex;
    flex-direction: row;
}
.slidernewproducts-categories p {
    font-size: 16px;
    font-weight: bold;
    padding: 5px 0;
}
.slidernewproducts-categories button{
    background-color: #ffcd4e;
    color: var(--whitefont-color);
    border-radius: 5px;
    padding: 10px 10px;
    margin-bottom: 15px;
    margin-left: 5px;
    text-transform: uppercase;
    font-weight: bold; 
    font-size: 14px; 
}
.slidernewproducts-categories button:hover{
    background-color: var(--1st-color);
    color: var(--whitefont-color);
    cursor: pointer;
}
.slidernewproducts-btn{
    background-color: var(--1st-color);
    color: var(--whitefont-color);
    border: none;
    border-radius: 10px;
    padding: 5px 5px;
    margin-top: 5px;
    font-size: 18px;
    font-weight: bolder;
    text-transform: uppercase;
}
/* Advertisement */
.productad-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: var(--1st-color);
}
.productad-left-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 5rem 2rem 2rem;
}
.productad-img {
    margin-right: 5rem;
}
.productad-img img{
    max-width: 700px;
    max-height: 400px;
    border: none;
    border-radius: 10px;
    box-shadow: white 0px 4px 12px;
}
.productad-content h4{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 2rem 0;
    color: var(--whitefont-color);
}
.productad-content h3{
    font-size: 25px;
    margin-top: 2rem;
    color: var(--whitefont-color);
}
.productad-category{
    border: none;
    border-radius: 5px;
    background-color: #ffcd4e;
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: 22px;
    color: var(--whitefont-color); 
}
.productad-discount{
    text-transform: uppercase;
    font-size: 40px;
    color: red;
}

@media (max-width:768px) {
    /* SubMenu */
    .subm-box{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .subm-box img{
        max-width: 900px;
    }
    .subm-box h1{
        text-align: center;
        font-size: 40px;
        padding: 2rem;
    }

    /* New Products */
    .slidernewproducts-components{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .slidernewproducts-components img{
        max-width: 400px;
        max-height: 600px;
        margin: 2rem 2rem;
    }
    .slidernewproducts-contents p {
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        color: var(--2nd-color);  
        text-align: center;
    }
    .slidernewproducts-categories button{
        padding: 5px 5px;
        font-size: 16px; 
    }
    .slidernewproducts-categories{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    /* Advertisement */
    .productad-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .productad-img{
        margin: 2rem 0;
    }
    .productad-img img{
        max-width: 400px;
        max-height: 400px;
    }
    .productad-content h4, .productad-content h3{
        text-align: center;
        font-size: 30px;
    }
    .productad-category{
        margin-left: 12rem;
        text-align: center;
    }
    .productad-discount{
        margin: 2rem 0;
        font-size: 40px;
    }
}
    
