/* Menu-banner */
.swiper {
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 80px;
    margin: 2rem 0 2rem 0;
}

.swiper .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.swiper-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.swiper-slide img {
    display: block;
    max-width: 400px;
    max-height: 400px;
    padding: 2rem;
}

.swiper-slide p {
    font-size: 20px;
    text-transform: bolder;
    text-transform: uppercase;
    color: var(--2nd-color);
}
/* Submenu-banner*/
.subm-swiper {
    width: 100%;
    height: 100%;
    padding: 3rem 0 3rem 0;
    margin: 2rem 0 2rem 0;
}
.subm-swiper-wrapper .swiper-slider img{
    display: block;
    max-width: 400px;
    max-height: 400px;
    margin-bottom: 2rem;
    margin-bottom: 2rem;
}
/*Advertisement-banner */
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}