.designmenu-component {
    background-color: var(--1st-color);
}

.designmenu-title {
    margin: 20px 0;
    height: 80px;
    background: url('https://images.pexels.com/photos/168453/pexels-photo-168453.jpeg?cs=srgb&dl=pexels-fwstudio-168453.jpg&fm=jpg');
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    opacity: 1;
}

.designmenu-title h1 {
    text-align: center;
    padding: 20px;
    color: var(--whitefont-color);
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bolder;
}

.designmenu-introduction p {
    background-color: var(--whitefont-color);
    color: var(--2nd-color);
    font-size: 20px;
    font-weight: 400;
    padding: 2rem;
}

.designmenu-pagination {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.designmenu-pagination-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.designmenu-pagination-item {
    cursor: pointer; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: transparent;
}
.designmenu-page-button {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bolder;
    border: 1px solid var(--whitefont-color);
    background-color: var(--whitefont-color);
    color: var(--1st-color);
}
.designmenu-page-button:hover {
    background-color: var(--1st-color);
    color: #fff;
}

.designmenu-page-button[disabled] {
    background-color: rgb(209, 199, 199);
    color: var(--1st-color);  
}

